.container{

display: flex;
height: 600px;
/*
flex-direction: column-reverse;
flex-wrap: wrap;
*/
flex-flow: row wrap;
background-color: lightseagreen;
justify-content:end ;
/*align-items: center; */

align-content: end;

}


.item{
background-color:rgb(219, 179, 105);
width: 100px;
height: 100px;
border: 10px solid black;
margin: 50px;
padding: 50px;

}